
.homepage-body {
  height: 100vh;
  margin: 0 auto;

  width: 50%;
}

.greeting {
  background-color: lightslategray;
  padding: 10px 0;

  font-size: 1.5em;
  font-weight: bold;
  color: darkslategray;

  text-align: center;
}

.available-projects {
  display: flex;
  justify-content: center;
  padding: 0;
}

ul {
  width: max-content;

  padding-left: 1em;
  margin: 0;
}